.header{
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
    background-color: #AE275F;
    padding: 1rem 1rem;
}
.header div{
    background-color: #EB1165;
    padding: 1rem 1rem;
    border-radius: 0.75rem;
    color: white;
    text-decoration: none;
    outline: none;
    font-family: 'Hind Siliguri', sans-serif;
}
.header div:hover{
    border: 2px solid black;
    cursor: pointer;
}