<div class="Form-containers">
    <h1>Create New User</h1>
    <img src="../../assets/add_coustomer_main.png" alt="add_coustomer">
    <form>
        <input type="text" placeholder="User Name" required><br>
        <input type="number" placeholder="Phone Number" required><br>
        <input type="email" placeholder="E-Mail" required><br>
        <input type="text" placeholder="Adress" required ><br>
        <input type="text" placeholder="Area" required><br>
        <input type="text" placeholder="City" required><br>
        <input type="Number" placeholder="PIN code" required><br>
        <input type="number" placeholder="Deposit Money" required><br>
        <button>Create User</button>
    </form>
</div>