
<div class="Profile-container" *ngIf="isDataAvialable">
    <div class="Profile">
        <img src="../../assets/Coustomer_main.png" alt="">
        <span><p>Name:</p><p>{{userData.Uname}}</p></span>
        <span><p>Phone No.:</p><p>{{userData.phoneno}}</p></span>
        <span><p>Email:</p><p>{{userData.email}}</p></span>
        <span><p>Account:</p><p>{{userData.Accountno}}</p></span>
        <div class="Adrs">
            <span>Adress: {{userData.address}}</span>
            <span>Area: {{userData.Area}}</span>
            <span>City: {{userData.city}}</span>
            <span>PIN code: {{userData.pincode}}</span>
        </div>
    </div>
    <div class="Details">
        <form >
            <span id="Avial" ><p>Available:</p><p #bal>{{userData.bal }}</p></span>

            <input type="number" #amount placeholder="Amount to be transfered" required><br>
            <select class="select-recv" #reciver required>
                <option value="None" disabled selected>Select user to send Money</option>
                <option *ngFor="let i of userslist" [value]='i.id' >{{i.Uname}}</option>
            </select><br>
            <button (click)="submithandler(amount.value,reciver.value,bal.value)" >PAY</button>
        </form>
        <form >
            <input type="number" #deposit placeholder="Deposit Money"><br>
            <button (click)="deposithandler(deposit.value)" >PAY</button>
        </form>
    </div>
</div>
